<h1>Done converting!</h1>
<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
<p>Get your font:</p>
<ul>
	<li><a href="<%=@far%>">Compressed</li>
	<li><a href="<%=@svg%>">SVG</li>
</ul>