<h1>Upload your TTF Font</h1>
<p>
<form action="/convert/upload" method="post" enctype="multipart/form-data">
  <p>
    <b>Font:</b><br />
    <input type="file" name="Font[file]" />
  </p>
  <p><input type="submit" name="Convert" /></p>
</form>
</p>
